<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <form action="/save-quotesEn" method="post">
        <div class="doCenter">
            <input type="text" name="author" placeholder="Author" class="inbox topOnCreate"/><br>
            <input type="text" name="name" placeholder="Book title" class="inbox"/><br>
            <textarea name="quote" placeholder="Quote" class="text"></textarea><br>
            <button class="buttonCreate buttonAfter">Send</button>
        </div>
    </form>
    <form action="/en">
        <div class="doCenter">
            <button class="buttonBack buttonAfter">Back</button>
        </div>
    </form>
</body>
</html>