{{define "index"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="doCenter">
        <form action="/en">
            <button class="buttonLanguage buttonAfter">En</button>
        </form>
        <form action="/create">
            <button class="button buttonAfter">Добавьте свою цитату</button>
        </form>
    </div>
    <p class="head">Немного важного</p>
    <div class="struct">
    {{range .}}
        <div class="quote">
            <div class="quoteSpace">
                <div class="bordering">
                    {{.Author}}
                </div>
                <div class="bordering">
                    "{{.Name}}"
                </div>
            </div>
            <div class="textQuote">
                {{.Quote}}
            </div>
        </div>
    {{else}}
    <p >Цитат нет</p>
    {{end}}
    </div>
</body>
</html>

{{end}}